.claude/
.DS_Store
Thumbs.db
assets/*.heic
assets/*.HEIC
assets/*.zip
assets/*.cdr
assets/*.webp
assets/Duta_Wacana*
assets/Logo_Universitas_Pembangunan*
assets/Politeknik LPP Yogya.jpeg
assets/UAJY_LOGOGRAM*
assets/UNY.svg
assets/logo_Universitas-Gajah-Mada*
assets/universitas-islam-negeri-sunan-kalijaga*
